dnspython==1.16.0
docutils==0.16
Flask==1.1.2
Flask-SQLAlchemy 
gunicorn==20.0.4
json5==0.9.5
jsonschema==3.2.0
MarkupSafe==1.1.1
matplotlib 
numpy==1.17.0
numpydoc 
pandas 
pytest==5.4.3
python-dateutil==2.8.1
requests 
seaborn==0.10.1



