dnspython==1.16.0
docutils==0.16
Flask==1.1.2
Flask-SQLAlchemy @ file:///tmp/build/80754af9/flask-sqlalchemy_1596836624296/work
gunicorn==20.0.4
json5==0.9.5
jsonschema==3.2.0
MarkupSafe==1.1.1
matplotlib @ file:///C:/ci/matplotlib-base_1592846129657/work
numpy==1.17.0
numpydoc @ file:///tmp/build/80754af9/numpydoc_1594166760263/work
pandas @ file:///C:/ci/pandas_1592833608684/work
pytest==5.4.3
python-dateutil==2.8.1
python-jsonrpc-server @ file:///tmp/build/80754af9/python-jsonrpc-server_1594397536060/work
python-language-server @ file:///C:/ci/python-language-server_1594159702692/work
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
seaborn==0.10.1
SQLAlchemy @ file:///C:/ci/sqlalchemy_1593446399229/work


