 {% extends 'layouts.html' %}

 {% block body %}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
 <div class = "jumbotron text-center">
     <h1> Model Collection Database</h1>
     </div>




     <div class="row">
        <div class="col-sm-2">
          <div class="well">
            <h5>Summary:</h5>
            <select id="selDataset" onchange="optionChanged(this.value)">
          <!--   <option value="All">All</option>
            <option value="1:400">1:400</option>
            <option value="1:200">1:200</option> 
            <option value="1:600">1:600</option>
            <option value="1:160">1:160</option>
            <option value="1:500">1:500</option>          
            <option value="1:300">1:300</option>
            <option value="1:187">1:187</option>
            <option value="1:150">1:150</option>
            <option value="1:100">1:100</option>
            <option value="1:250">1:250</option>
            <option value="1:144">1:144</option>
            <option value="1:130">1:130</option>
            <option value="1:1000">1:1000</option>
            <option value="1:72">1:72</option> -->
  


            </select>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Scale Details Summary</h3>
            </div>
            <div id="scale-metadata" class="panel-body"></div>
          </div>
        </div>
        <div class="col-md-5">
          <div id="gauge" ></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div id="bubble"></div>
        </div>
        <div class="col-md-6">
          <div id="pie"></div>
        </div>
      </div>
    </div>




    <script src="static/js/dashapp.js"></script>
    
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

 {% endblock %}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>

 <!-- <script src="{{ url_for('static', filename='js/bonus.js') }}"></script>-->
 
  <!---->
</body>

</html>