
{% extends 'layouts.html' %}

{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<div class = "jumbotron text-center">
	<h3> Model Collection Database</h3>
	</div>

 <link rel="stylesheet" href="static/css/hichart.css">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
 <script src="https://code.highcharts.com/highcharts.js"></script>
 
 <figure class="highcharts-figure">
	 <div id="parent-container">
		 <div id="play-controls">
			 <button id="play-pause-button" class="fa fa-play" title="play"></button>
			 <input id="play-range" type="range" value="2000" min="2000" max="2023" />
		 </div>
		 <div id="container"></div>
	 </div>
	 <p class="highcharts-description">
		 Bar chart showing the Collection Growth by Airlines from 2000 to 2023.
	 </p>
 </figure>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
 <script src="static/js/hichart.js"></script>
 <!-- <script src="{{ url_for('static', filename='js/bonus.js') }}"></script>-->
 
  <!---->
  {% endblock %}